.footer {
    background: linear-gradient(90deg, rgb(94, 0, 0) 20%, rgba(43,0,0,1) 46%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 300px;
    box-shadow: 0 0 20px inset black;
}

.content {
    padding: 60px 40px 45px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.row {
    display: flex;
    gap: 30px;
}

p {
    font-size: 32px;
    font-weight: 200;
    padding-top: 6px;
}

.social_icon {
    width: 50px;
    filter: invert();
}





@media (max-width: 511px){
    .row p {
        font-size: 20px;
        font-weight: 200;
        padding-top: 15px;
    }
}

@media (max-width: 432px){
    .row p {
        font-size: 15px;
        font-weight: 200;
        padding-top: 20px;
    }
}

@media (max-width: 400px){
    .row p {
        font-size: 12px;
        font-weight: 200;
        padding-top: 23px;
    }
}