.github_background {
    background-color: var(--black) !important;

    width: 100%;
    height: auto;
    padding: 20px 0 50px 0;
}

.containerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerDiv h1 {
    padding-top: 20px;
    padding-bottom: 8px;
    padding: 0 10px;

    text-align: center;
    font-size: 45px;
    transition: 200ms ease-in-out;
}

.containerDiv h1:hover {
    letter-spacing: 1px;  
    transition-duration: 200ms;
}

.containerDiv p {
    padding-left: 10px;    
    font-size: 42px;
    color: rgb(230, 230, 230);

    transition-duration: 200ms;   
}

.containerDiv p:hover {
    letter-spacing: 2px;
    color: var(--white);

    transition: 200ms;
}

.githubRepoDiv {
    padding-top: 10px;

    display: flex;
    align-items: center;
}

.githubIcon {
    width: 100px;
    filter: invert(1);

    animation: roda-roda 900ms linear infinite;

    transition-duration: 800ms;
}

.githubIcon:hover {
    animation: roda-rodakk 280ms linear infinite;

    transition: 900ms;
}

@keyframes roda-roda {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes roda-rodakk {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(4deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-4deg); }
    100% { transform: rotate(0deg); }
}