.projects_background {
    height: 127vh;
    background-color: rgb(0, 0, 0) !important;
    padding: 0 20px 20px 20px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.nossos_projetos {
    text-align: center;
    padding: 20px 0;
}

.container_projetos {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 50px 0;


    background-color: rgb(0, 0, 0) !important;
    width: 98%;
    height: 70%;
    border-radius: 20px;
    border: 2px solid var(--projects-container-border);
    box-shadow: 0 0 36px var(--projects-container-shadow);
}




.div_cardProjeto {
    text-align: center;
    height: 300px;
}

.div_cardProjeto h1 {
    font-size: 3rem;
}

.div_projeto {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border: 2px solid rgba(222, 222, 222, 0.902);
    
    width: 400px;
    height: 450px;
    border-radius: 20px;
    transition-duration: 300ms;
}

.div_projeto_desc {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px 3px;
    background-color: rgb(10, 10, 10) !important;
    width: 100%;
    height: 50%;
    border-radius: 0px 0px 20px 20px;
    flex-direction: column;
    justify-content: space-around;
}
.div_projeto_desc h1 {
    font-weight: 500;
}

.div_projeto_desc span {
    font-weight: 200;
}

.projects_img {
    width: auto;
    height: 55%;
    border-radius: 15px 15px 0px 0px;
}

.h1_nossos_projetos {
    font-size: 2rem;
}