.q_u_e_background {
    height: 88vh;
    background-color: var(--background-black) !important;
}

.container_q_u_e, .container_por_favor {
    height: 50%;
    width: 100%;
}

.container_q_u_e {
    padding: 30px 0 0 0;
}

.container_por_favor {
    padding: 0 0 70px 0;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse
}

.container_top { 
    width: 100%;;  
    height: 500px;
}

.h1_q_u_e, .h1_por_favor {
    font-size: 80px;
    max-width: 60%;
    margin-left: 12%;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.089);
    
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.h1_por_favor {
    float: right;
    margin-right: 15%;
}

.help_color {
    position: absolute;
    color: var(--home-red-color);
    margin: 0px 0px 0px -2px;
    text-shadow: 0px 0px 18px var(--home-red-shadow-color);
}

.container_gif {
    background-color: #00000000 !important;
    position: absolute;
    filter: invert(100%);
    mix-blend-mode: lighten;
    display: flex;
    justify-content: flex-end;
    justify-items: normal;
}

.gif_mouse {
    max-width: 100%;
    width: 60%;
    filter: saturate(200%);

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

























































@media (max-width: 890px){
    .gif_mouse {
        display: none;
    }
}

@media (max-width: 792px){
    .h1_por_favor {
        font-size: 75px;
    }
}

@media (max-width: 746px){
    .h1_por_favor {
        font-size: 70px;
    }
    .h1_q_u_e {
        font-size: 70px;
    }
}

@media (max-width: 696px){
    .h1_por_favor {
        font-size: 65px;
    }
    .h1_q_u_e {
        font-size: 70px;
    }
    .container_por_favor {
        margin-top: 50px;
    }
}

@media (max-width: 607px){
    .h1_q_u_e {
        font-size: 68px;
    }
}

@media (max-width: 560px){
    .h1_q_u_e {
        font-size: 63px;
    }
}

@media (max-width: 530px){
    .h1_q_u_e {
        font-size: 60px;
    }
}

@media (max-width: 512px){
    .h1_por_favor {
        font-size: 65px;
    }
    .h1_q_u_e {
        font-size: 58px;
    }
}

@media (max-width: 500px){
    .h1_por_favor {
        
        font-size: 60px;
    }
    .h1_q_u_e {
        font-size: 57px;
    }
    .container_por_favor {
        margin-top: 0px;
    }
}

@media (max-width: 473px){
    .h1_por_favor {
        font-size: 58px;
    }
    .h1_q_u_e {
        font-size: 48px;
    }
}

@media (max-width: 398px){
    .h1_q_u_e {
        font-size: 44px;
    }
}

@media (max-width: 366px){
    .h1_q_u_e {
        font-size: 40px;
    }
}

@media (max-width: 332px){
    .h1_q_u_e {
        font-size: 38px;
    }
}

@media (max-width: 318px){
    .container_por_favor {
        margin-top: 60px;
    }
}